<html>
    <head>
        <title></title>
    </head>
    <body>

    	<h1>
			 Please answer the questions below
		</h1>
        <form action="/qa/result" method="POST">
            <p>1.Gender</p>

			<div>
  				<input type="radio" id="male" name="gender" value="B">
  				<label for="Male">Male</label>
			</div>

			<div>
  				<input type="radio" id="female" name="gender" value="A">
  				<label for="Female">Female</label>
			</div>
			<p>2.Occasion</p>

			<div>
  				<input type="radio" name="occasion" value="C">
  				<label for="Festive Wear">Festive Wear</label>
			</div>

			<div>
  				<input type="radio"  name="occasion" value="A">
  				<label for="Casual Wear">Casual Wear</label>
			</div>
			<div>
  				<input type="radio"  name="occasion" value="B">
  				<label for="Party Wear">Party Wear</label>
			</div>

			<p>3.Which is the most close to your body type?</p>
			<a href="/bodytype">Know your body type</a>

			<div>
  				<input type="radio"  name="body" value="A">
  				<label for="Triangle">Triangle</label>
			</div>

			<div>
  				<input type="radio"  name="body" value="B">
  				<label for="Inverted Triangle">Inverted Triangle</label>
			</div>
			
			<div>
  				<input type="radio"  name="body" value="C">
  				<label for="Rectangle">Rectangle</label>
			</div>
			<div>
  				<input type="radio"  name="body" value="F">
  				<label for="Prefer not to answer">Prefer not to answer</label>
			</div>

			<p>3.Which is the most close to your skin complexion?</p>

			<div>
  				<input type="radio"  name="skin" value="A">
  				<label for="Dark Brown">Dark Brown</label>
			</div>

			<div>
  				<input type="radio"  name="skin" value="B" >
  				<label for="Neutral Brown">Neutral Brown</label>
			</div>
			<div>
  				<input type="radio"  name="skin" value="C">
  				<label for="Light Brown">Light Brown</label>
			</div>

			<p>4.Any preferred color?</p>

			<div>
  				<input type="radio"  name="color" value="K">
  				<label for="Black">Black</label>
			</div>
			<div>
  				<input type="radio"  name="color" value="B">
  				<label for="White">White</label>
			</div>
			<div>
  				<input type="radio"  name="color" value="C">
  				<label for="Navy-Blue">Navy-Blue</label>
			</div>
			<div>
  				<input type="radio"  name="color" value="D">
  				<label for="Red">Red</label>
			</div>
			<div>
  				<input type="radio"  name="color" value="E">
  				<label for="Blue">Blue</label>
			</div>
			<div>
  				<input type="radio"  name="color" value="F">
  				<label for="Lavender">Lavender</label>
			</div>
			<div>
  				<input type="radio"  name="color" value="G">
  				<label for="Purple">Purple</label>
			</div>
			<div>
  				<input type="radio" name="color" value="H">
  				<label for="Green">Green</label>
			</div>
			<div>
  				<input type="radio"  name="color" value="I">
  				<label for="Teal">Teal</label>
			</div>
			<div>
  				<input type="radio"  name="color" value="J">
  				<label for="Orange">Orange</label>
			</div>
			<div>
  				<input type="radio"  name="color" value="A">
  				<label for="None">None</label>
			</div>

			<p>4.Any preferred category?</p>

			<div>
  				<input type="radio"  name="category" value="A">
  				<label for="None">None</label>
			</div>

			
			<div>
  				<input type="radio"  name="category" value="E">
  				<label for="Jeans">Jeans</label>
			</div>
			<div>
  				<input type="radio"  name="category" value="C">
  				<label for="Kurti">Kurti</label>
			</div>
			<div>
  				<input type="radio" name="category" value="B">
  				<label for="Kurta-Sets/Suits">Kurta-Sets/Suits</label>
			</div>
			<div>
  				<input type="radio"  name="category" value="D">
  				<label for="Shirt/Top">Shirt/Top</label>
			</div>
			<br>
            <input type="submit">
        </form>

    </body>
</html>