<!doctype html>
<html>
	<head>
		<title>Holmes 404</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	</head>
<body>
   The current style statement of Sonakshi Sinha is: 
   <br> 
   <img src="/static/images/Images_search/sonakshi1/sonakshi1.jpeg">
   <img src="/static/images/Images_search/sonakshi2/sonakshi2.jpeg">
   <br><br>
   The recommendations are <br>
   <img src="/static/images/Images_search/sonakshi1/Ans/1.png">
   <img src="/static/images/Images_search/sonakshi1/Ans/2.png">
   <img src="/static/images/Images_search/sonakshi1/Ans/3.png">
   <img src="/static/images/Images_search/sonakshi1/Ans/4.png">
   <img src="/static/images/Images_search/sonakshi1/Ans/5.png">
    <img src="/static/images/Images_search/sonakshi2/Ans/1.png">
   <img src="/static/images/Images_search/sonakshi2/Ans/2.png">
   <img src="/static/images/Images_search/sonakshi2/Ans/3.png">
   <img src="/static/images/Images_search/sonakshi2/Ans/4.png">
   <img src="/static/images/Images_search/sonakshi2/Ans/5.png">



</body>
</html>